h1, h2, h3, h4, h5, h6, p{
  font-family: 'Indie Flower', cursive;
  text-align: center;
  color: white;
}
body{
  background: rgba(0, 0, 0, 0.7);
}
audio{
  display: block;
  margin: 0 auto;
}
.input{
  margin: 10% auto;
}
input{
  display: inline;
}
#load-audio{
  width: 74%;
  border-radius: 3px;
}
#btn-input{
  border-radius: 3px;
  font-family: 'Indie Flower', cursive;
  font-weight: 700;
}
.icon{
  margin-left: 33%;
}
